{% block content %}
{% load quiz_passing %}

    <h1>{{quiz.title}}<br></h1>
    <h4>{{quiz.description}}<br></h4>
    <form method="post">
    {% csrf_token %}


    {% for field in formset %}
        {% with quiz.question_set.all|index:forloop.counter0 as quizzes %}
            {{ quizzes.title_anwers }}<br>
            {{ quizzes.response1 }} {{ field.correct1 }}
            {{ quizzes.response2 }} {{ field.correct2 }}
            {{ quizzes.response3 }} {{ field.correct3 }}
            {{ quizzes.response4 }} {{ field.correct4 }}<br>
        {% endwith %}
    {% endfor %}
    {% if messages %}
{% for message in messages %}
  <h2 style="color: red; left: 100%">{{ message }}</h2>
{% endfor %}
{% endif %}
    <button type="submit">Сomplete</button>
    <form>
{% endblock %}