{% block content %}
<form action="{% url 'search_results' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
  <input type="submit" value="OK">
<input type="hidden" value="hidden">
</form>
{% for ordering_data in ordering_data %}
<form method="get">
  <div>{{ordering_data}} Cортировка по дате
<input type="submit" value="OK">
<input type="hidden" value="hidden">
{% endfor %}
{% for filter_passing in filter_passing %}

<form method="get">
  <div>{{filter_passing}} Cортировка по пройденым
<input type="submit" value="OK">
<input type="hidden" value="hidden">
{% endfor %}
<br>
{% for test in test %}
  <br>
  <a href="{% url 'test' test.title %}">{{test.title}}</a><br>
{% endfor %}
</form>
</div>
{% endblock %}
